<template name="UniverseOverview">
<span class="glyphicon glyphicon-user"></span>
  <div class="universe-overview zoomed-{{#if activeSystem}}in{{else}}out{{/if}}">
    {{#each systems}}
      {{#if isActive this}}
        <div class="star-system-wrap active-star-system" style="{{cssPosition position}}">
          {{> FullStarSystem this}}
        </div>
      {{else}}
        <div class="star-system-wrap" data-href="{{starSystemPath this}}" style="{{cssPosition position}}">
          {{> StarSystem this}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</template>
